*{
    padding:0;
    margin:0;

}
nav ul{

display:flex;
background-color:black;
list-style-type: none;

}
nav li{
    display:flex-end;
}
nav a{
    color:white;
    text-decoration:none;
}
